<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Titre</td>
            <td>Prix</td>
            <td>Résumé</td>
            <td>Panier</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let article of articles">
            <td>{{article.idArticle}}</td>
            <td>{{article.titre}}</td>
            <td>{{article.prix|number:'1.2-2'}} €</td>
            <td><button class="btn btn-primary" [routerLink]="['/article', article.idArticle]">Voir</button></td>
            <td><button class="btn btn-primary" [routerLink]="['/panier/ajouter', article.idArticle]">Panier</button></td>
        </tr>
    </tbody>
</table>
