<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>{{ 'ARTICLE_LIST.TITLE' | translate }}</td>
            <td>{{ 'ARTICLE_LIST.PRICE' | translate }}</td>    
            <td>{{ 'ARTICLE_LIST.SUMMARY' | translate }}</td>   
            <td>{{ 'ARTICLE_LIST.BASKET' | translate }}</td>                     
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let article of articles">
            <td>{{article.idArticle}}</td>
            <td>{{article.titre}}</td>
            <td>{{article.prix}}</td>                    
            <td><a href="voirArticle.cde?id_article={{article.idArticle}}">{{ 'ARTICLE_LIST.SUMMARY' | translate }}</a></td>                                     
            <td><a href="ajoutPanier.cde?id_article={{article.idArticle}}">{{ 'ARTICLE_LIST.BASKET' | translate }}</a></td>                       
        </tr>
    </tbody>
</table>
