<div class="container">
  <h2>{{article.titre}}</h2>
  <div class="well">
    
    <div class="row">
      <label class="col-md-2 text-right">{{ 'ARTICLE.TITLE' | translate }}</label>
      <div class="col-md-9">{{article.titre}}</div>
    </div>
    <div class="row">
      <label class="col-md-2 text-right">{{ 'ARTICLE.SUMMARY' | translate }}</label>
      <div class="col-md-9">{{article.resume}}</div>
    </div>
    <div class="row">
      <label class="col-md-2 text-right">{{ 'ARTICLE.PRICE' | translate }}</label>
      <div class="col-md-6">{{article.prix|number:'1.2-2'}} €</div>
    </div>
    <div class="row">
      <label class="col-md-2 text-right">{{ 'ARTICLE.DATE' | translate }}</label>
      <div class="col-md-6">{{article.dateArticle|date:'dd/MM/yyyy'}}</div>
    </div>
    <div class="row">
      <label class="col-md-2 text-right">{{ 'ARTICLE.FIELD' | translate }}</label>
      <div class="col-md-6">{{article.domaine?.libdomaine}}</div>
    <button *ngIf="!isAuthor()" class="btn btn-primary" [routerLink]="['/panier/ajouter', article.idArticle]">{{ 'ARTICLE.ADD' | translate }}</button>
    <div *ngIf="">
      <button class="btn btn-primary" (click)="back()">{{ 'ARTICLE.BACK' | translate }}</button>
    </div>
</div>
