<div class="col-md-9 col-md-offset-2">
  <h1 align='center'>Panier</h1>
    <table class="table table-bordered table-striped">
      <thead>
          <tr>
            <td>Id</td>
            <td>Titre</td>
            <td>Prix</td>
            <td>Supprimer</td>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let article of panier.articles">
              <td>{{article.idArticle}}</td>
              <td>{{article.titre}}</td>
              <td>{{article.prix|number:'1.2-2'}} €</td>
              <td><a class="btn btn-primary" [routerLink]="['/panier/supprimer', article.idArticle]">Supprimer</a></td>
          </tr>
          <tr>
              <td colspan="2" style="text-align: right">Montant total</td>
              <td>{{panier.total|number:'1.2-2'}} €</td>
          </tr>
      </tbody>
  </table>
  <div *ngIf="panier.articles.length > 0">
      <a class="btn btn-primary" [routerLink]="['/panier/valider']"><span class="glyphicon glyphicon-log-in"></span> Valider panier</a>
  </div>
  <p *ngIf="panier.articles.length == 0">Votre panier est vide. <a [routerLink]="['/articles']">Consulter le catalogue d'articles.</a></p>
  <app-error [error]="error"></app-error>
</div>
