<div>
  <h1> {{title}}</h1>
  <p> {{ 'REDIGE.EARNINGS' | translate }} {{ totalRoyalties }} €.</p>
  <br />
  <div *ngIf="rediges.length > 0">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>{{ 'REDIGE.TITLE' | translate }}</th>
          <th>{{ 'REDIGE.FIELD' | translate }}</th>
          <th>{{ 'REDIGE.SUMMARY' | translate }}</th>
          <th>{{ 'REDIGE.DATE' | translate }}</th>
          <th>{{ 'REDIGE.PRICE' | translate }}</th>
          <th>{{ 'REDIGE.PART' | translate }}</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let oeuvre of rediges">
            <td> {{ oeuvre.article.titre }} </td>
            <td> {{ oeuvre.article.domaine.libdomaine }} </td>
            <td> {{ oeuvre.article.resume }} </td>
            <td> {{ oeuvre.article.dateArticle | date: 'dd/MM/yyyy' }} </td>
            <td> {{ oeuvre.article.prix |number:'1.2-2'}} </td>
            <td> {{ oeuvre.part }} </td>
          </tr>
        </tbody>
    </table>
  </div>
  <p *ngIf="rediges.length == 0"> </p>
  <app-error [error]="error" >{{ 'REDIGE.NOWORK' | translate }}</app-error>
</div>
