<div>
  <h1>{{title}}</h1>
  <div *ngIf="redige.length > 0">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Titre</th>
          <th>Domaine</th>
          <th>Resume</th>
          <th>Date</th>
          <th>Prix</th>
          <th>Part</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let article of redige">
            <td> {{ redige.article.titre }} </td>
            <td> {{ redige.article.domaine.libdomaine }} </td>
            <td> {{ redige.article.date |date: 'shortDate' }} </td>
            <td> {{ redige.article.prix }} </td>
            <td> {{ redige.part }} </td>
          </tr>
        </tbody>
    </table>
  </div>
  <p *ngIf="redige.length == 0"> Oups, il semblerait que vous n'ayiez pas encore écrit d'oeuvres. A votre plume !</p>
  <app-error [error]="error" ></app-error>
</div>
