<div>
  <h1>{{title}}</h1>
  <div *ngIf="achats.length > 0">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>{{ 'ACHATS.TITLE' | translate }}</th>
          <th>{{ 'ACHATS.FIELD' | translate }}</th>
          <th>{{ 'ACHATS.DATE' | translate }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let achat of achats">
            <td> {{ achat.article.titre }} </td>
            <td> {{ achat.article.domaine.libdomaine }} </td>
            <td> {{ achat.dateAchat |date: 'dd/MM/yyyy'}} </td>
            <td> <a href="/assets/resources/fichiers/{{achat.article.fichier}}" target="_self"> {{ 'ACHATS.DDL' | translate }} </a>
          </tr>
        </tbody>
    </table>
  </div>
  <p *ngIf="achats.length == 0"> {{ 'ACHATS.NOARTICLES' | translate }} <a [routerLink]="['/articles']">{{ 'ACHATS.BUY' | translate }}</a></p>
  <app-error [error]="error" ></app-error>
</div>
